PRIVATE_KEY=2ogdGYqgGbq9DiUfqXpveZC929Ceg3tK4ga4jXawZsvWYTtNNG2svMW67HsodmnCrQsH494Bkkj6x1nuzUBtthz
PUBLIC_KEY1=4RCWU6r7oFaKKt5BbAWisiBsBscRpL2hDqv89Ric9v2r
PUBLIC_KEY2=GUh1KwvgX5b2QFBG46KsCw43T3TRHZwer2oTRCPHRz8S
PUBLIC_KEY3=98njFGB6xQ3TCv7FR7UhkNRiR2xuGwFYnPv6Gqy7kpXn
BASE_COIN=4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R
QUOTE_TOKEN=So11111111111111111111111111111111111111112